
.page {
    margin: 0;
    font-size: arial;
    padding: 0;
}


.web {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.home {
    text-decoration: none;
    font-size: 10px;
    display: flex;

}

