a
{
    text-decoration: none;
}
.text-green
{
    color:green;
}

.text-red
{
    color:red;
}
.text-bold
{
    font-weight: bold;
}


.base {
    margin: 0px 10px;
}

.logotext {

    font-size: 20px;
    background-color: black;
    border: 1px solid burlywood;

    /* margin:10px; */

    /* margin-top: 10px; */

    margin: 10px 0px 50px 0px;

    /* margin:100px 50px; */
    padding: 10px;

    color: white;
}





.last-update-info {
    background-color: rgb(89, 0, 255);
    border: 1px solid rgba(135, 163, 222, 0);
    /* margin: 10px; */
    padding: 10px;
}

.sub-heading {
    background-color: blue;
    border: 2px;
    /* margin: 10px; */
    padding: 10px;
}

.note-list {
    /* background: yellow; */
    padding: 0px 10px;
}

.note-list li {
    list-style: '»';
    margin-bottom: 10px;
}