.btns-main {
    width: 320px;
    margin: 100px auto;
}

.answer {
    padding-right: 10px;
    font-size:20px;
    width: 300px;
    height: 45px;
    text-align: right;
    border: 2px solid black;

}

.cbtn {
    background-color: black;

    height: 80px;
    width: 80px;
    color: white;
    font-size: 30px;
    border: 1px solid rgb(212, 20, 20);
    float: left;
}